@media (min-width: 800px) {
    html{
        font-size: 20px;
    }
    body{
        max-width: 1400px;
        margin: auto;
    }
    
.header-name-display{
   text-align: left;
    }
    .header-name-display >span{
        display: inline-block;
        margin-left: 90px;
    }

/* ========MAIN========= */
    .box-flex{
        display: flex;
        align-items: center;
        padding: 1rem;
    }
    .about-me-container{
        flex-direction: column-reverse;
    }
    #portrate{
        height: 200px
    }
    h1{
        border: none;
    }
    
    .skill-sett-container{
        padding-top: 0;
    }
    li span{
        font-size: 1.1rem;
    }
    li p{
        font-size: 1.1rem;
        padding: 1rem;
    }
}
