
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@700&display=swap');
*{
	box-sizing: border-box;
	font-family: 'Ubuntu Mono', monospace, 'Segoe UI' ;

}
html{
    font-size: 18px;
}

.header-name-display{
    margin: 2rem;
    text-align: center;
}
.header-name-display header{
    font-size: 2.5rem;
}
.header-name-display span{
    font-size: 1rem;
    text-decoration: underline;
    font-style: italic;
    font-weight: bold;
}



/* =======////main============ */

.box-flex{
    padding: .5rem;
    background-color: whitesmoke;

}

.about-me-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}



h1{ 
    padding: 1.5rem 0;
    margin-right: 1rem;
    font-size: 1.2rem;
    border-right:2px solid black ;

}
#portrate{
    height: 130px;
    width: auto;
    border-radius: .5rem;
}
.links-container{
    text-align: right;
    padding-right:1rem ;
}
.links-container a{
    font-size: 1rem;
}

.work-display-box{
    padding: 4rem 0;
}

.skill-sett-container{
    padding-top: 2rem;
}
.skill-sett-container span{
display: block;
text-align: center;
margin-bottom: 1rem;
font-size:2rem;
}
.skill-sett-container ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 350px;
    margin: auto;
}

.skill-sett-container li{
    font-size: 1rem;
    border-radius: 5rem;
    padding: 5px 10px;
    margin-right: 1rem;
    margin-bottom: .5rem;
    background-color: white;
}
h2{
    font-size: 2rem;
    margin-bottom: 1.5rem;   
    text-align: center;
}

ol{
    display: flex;
    justify-content: space-around;
}

ol li{
    width: 45%;
}
li img{
    padding: 5px;
    border: 1px solid black;
    height: auto;
    width: 100%;
    margin-top: 5px;
}
li p{
    margin-top: 5px;
    font-size: 1rem;
    text-indent: 1rem;
    line-height: 1.2rem;
}
h3{
    font-size: 2rem;
    margin-left: 1.5rem;
    margin-bottom: 1.5rem;
    border-bottom: 3px solid black;
}
.form-bin{
    width: 350px;
    margin: auto;
    padding: 5px;
    margin-bottom: 30px;
    background-color: whitesmoke;
    border: 2px solid silver;
    border-radius: 5px;
}   
   form{
margin:1rem 5px;
   }

.form-input-container{
    padding: 10px;
    display: flex;
    
}
form label {
    width: 45%;
    display: block;
    margin-right: 5px;

}
form input{
    background-color: white;
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: none;
}
form button{
    border: none;
    padding: .5rem 1rem;
    margin-top: 1rem;
    border-radius: 5px;
}




/* ===============//================== */
